USE [master]
GO
/****** Object:  Database [Zenit_B]    Script Date: 26.12.2021 0:29:01 ******/
CREATE DATABASE [Zenit_B]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Zenit_B', FILENAME = N'G:\MSSQL12.SQLEXPRESS\MSSQL\DATA\Zenit_B.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Zenit_B_log', FILENAME = N'G:\MSSQL12.SQLEXPRESS\MSSQL\DATA\Zenit_B_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Zenit_B].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Zenit_B]
GO
/****** Object:  Table [dbo].[T_Categories]    Script Date: 26.12.2021 0:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Categories](
	[idCategory] [int] NOT NULL,
	[categoryValue] [varchar](45) NULL,
	[idStatus] [int] NULL,
 CONSTRAINT [PK_T_Categories] PRIMARY KEY CLUSTERED 
(
	[idCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Event]    Script Date: 26.12.2021 0:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Event](
	[idEvent] [int] NOT NULL,
	[placeOfEvent] [varchar](55) NULL,
	[idUser] [int] NULL,
	[idStatus] [int] NULL,
	[idImage] [int] NULL,
	[countVisitors] [int] NULL,
 CONSTRAINT [PK_T_Event] PRIMARY KEY CLUSTERED 
(
	[idEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_eventimage]    Script Date: 26.12.2021 0:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_eventimage](
	[idStatus] [int] NULL,
	[idImage] [int] NOT NULL,
	[imagePath] [varchar](50) NULL,
 CONSTRAINT [PK_T_eventimage] PRIMARY KEY CLUSTERED 
(
	[idImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Gender]    Script Date: 26.12.2021 0:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Gender](
	[idUser] [int] NOT NULL,
	[GenderName] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_Gender] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_roles]    Script Date: 26.12.2021 0:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_roles](
	[idRole] [int] NOT NULL,
	[roleValue] [int] NULL,
	[RoleName] [nvarchar](15) NULL,
 CONSTRAINT [PK_T_roles] PRIMARY KEY CLUSTERED 
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Statuses]    Script Date: 26.12.2021 0:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Statuses](
	[idStatus] [int] NOT NULL,
	[statusValue] [int] NULL,
	[statusDescription] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_Statuses] PRIMARY KEY CLUSTERED 
(
	[idStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_ticket]    Script Date: 26.12.2021 0:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_ticket](
	[idTicket] [int] NOT NULL,
	[price] [float] NULL,
	[idCategory] [int] NULL,
	[firstName] [varchar](45) NULL,
	[secondName] [varchar](45) NULL,
	[idEvent] [int] NULL,
	[idStatus] [int] NULL,
 CONSTRAINT [PK_T_ticket] PRIMARY KEY CLUSTERED 
(
	[idTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_User_Logs]    Script Date: 26.12.2021 0:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_User_Logs](
	[idLog] [int] NOT NULL,
	[idUser] [int] NULL,
	[action] [varchar](85) NULL,
 CONSTRAINT [PK_T_User_Logs] PRIMARY KEY CLUSTERED 
(
	[idLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Users]    Script Date: 26.12.2021 0:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Users](
	[idUser] [int] NOT NULL,
	[firstName] [varchar](45) NULL,
	[secondName] [varchar](45) NULL,
	[idRole] [int] NULL,
 CONSTRAINT [PK_T_Users] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[T_Categories]  WITH CHECK ADD  CONSTRAINT [FK_T_Categories_T_Statuses] FOREIGN KEY([idStatus])
REFERENCES [dbo].[T_Statuses] ([idStatus])
GO
ALTER TABLE [dbo].[T_Categories] CHECK CONSTRAINT [FK_T_Categories_T_Statuses]
GO
ALTER TABLE [dbo].[T_Event]  WITH CHECK ADD  CONSTRAINT [FK_T_Event_T_eventimage] FOREIGN KEY([idImage])
REFERENCES [dbo].[T_eventimage] ([idImage])
GO
ALTER TABLE [dbo].[T_Event] CHECK CONSTRAINT [FK_T_Event_T_eventimage]
GO
ALTER TABLE [dbo].[T_Event]  WITH CHECK ADD  CONSTRAINT [FK_T_Event_T_Users] FOREIGN KEY([idUser])
REFERENCES [dbo].[T_Users] ([idUser])
GO
ALTER TABLE [dbo].[T_Event] CHECK CONSTRAINT [FK_T_Event_T_Users]
GO
ALTER TABLE [dbo].[T_eventimage]  WITH CHECK ADD  CONSTRAINT [FK_T_eventimage_T_Statuses] FOREIGN KEY([idStatus])
REFERENCES [dbo].[T_Statuses] ([idStatus])
GO
ALTER TABLE [dbo].[T_eventimage] CHECK CONSTRAINT [FK_T_eventimage_T_Statuses]
GO
ALTER TABLE [dbo].[T_Gender]  WITH CHECK ADD  CONSTRAINT [FK_T_Gender_T_Users] FOREIGN KEY([idUser])
REFERENCES [dbo].[T_Users] ([idUser])
GO
ALTER TABLE [dbo].[T_Gender] CHECK CONSTRAINT [FK_T_Gender_T_Users]
GO
ALTER TABLE [dbo].[T_ticket]  WITH CHECK ADD  CONSTRAINT [FK_T_ticket_T_Categories] FOREIGN KEY([idCategory])
REFERENCES [dbo].[T_Categories] ([idCategory])
GO
ALTER TABLE [dbo].[T_ticket] CHECK CONSTRAINT [FK_T_ticket_T_Categories]
GO
ALTER TABLE [dbo].[T_ticket]  WITH CHECK ADD  CONSTRAINT [FK_T_ticket_T_Event] FOREIGN KEY([idEvent])
REFERENCES [dbo].[T_Event] ([idEvent])
GO
ALTER TABLE [dbo].[T_ticket] CHECK CONSTRAINT [FK_T_ticket_T_Event]
GO
ALTER TABLE [dbo].[T_ticket]  WITH CHECK ADD  CONSTRAINT [FK_T_ticket_T_Statuses] FOREIGN KEY([idStatus])
REFERENCES [dbo].[T_Statuses] ([idStatus])
GO
ALTER TABLE [dbo].[T_ticket] CHECK CONSTRAINT [FK_T_ticket_T_Statuses]
GO
ALTER TABLE [dbo].[T_Users]  WITH CHECK ADD  CONSTRAINT [FK_T_Users_T_roles] FOREIGN KEY([idRole])
REFERENCES [dbo].[T_roles] ([idRole])
GO
ALTER TABLE [dbo].[T_Users] CHECK CONSTRAINT [FK_T_Users_T_roles]
GO
ALTER TABLE [dbo].[T_Users]  WITH CHECK ADD  CONSTRAINT [FK_T_Users_T_User_Logs] FOREIGN KEY([idRole])
REFERENCES [dbo].[T_User_Logs] ([idLog])
GO
ALTER TABLE [dbo].[T_Users] CHECK CONSTRAINT [FK_T_Users_T_User_Logs]
GO
USE [master]
GO
